---
const { as, link, label, ...props } = Astro.props;
---

{
  as === "a" ? (
    <a href={link} class="btn btn-outline" {...props}>
      <div class="sr-only">{label}</div>
      <span class="opacity-0">{label}</span>
      <div class="transform-btn-text">
        <span>{label}</span>
        <span>{label}</span>
      </div>
    </a>
  ) : (
    <button class="btn btn-outline" {...props}>
      <div class="sr-only">{label}</div>
      <span class="opacity-0">{label}</span>
      <div class="transform-btn-text">
        <span>{label}</span>
        <span>{label}</span>
      </div>
    </button>
  )
}
